
@import url(reset.css);


.page{

	font-family: 'PT Sans Caption', sans-serif;
}

.header-container{

	display: flex;
	flex-direction: row;
	padding: 10px;
	background-color: #F6D7AE;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.head{

	font-weight: bold;
	font-size:30px;
}


.text-container{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;	
	flex-direction: column;
	font-family: 'Alegreya Sans', sans-serif;
}

.column{
	border: 2px solid #D59629;
	width: 90%;
	margin-bottom: 20px;
	overflow: hidden;
}

.coco{
    background-image: url(../img/chanel.jpg);
    background-position: center;
    background-size: cover; 
    padding-bottom: 100%;
    
}

.coco:hover{
	opacity: 0.5;
	transition-duration:3s;
}

.homer{

	background-image: url(../img/homer.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 100%;
}

.homer:hover{
	transform: scale(1.2);
	transition-duration:3s;
}
.lermontov{
	background-image: url(../img/lermontov.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 100%;
}

.lermontov:hover{
	background-image: url(../img/ler.jpg);
	transition-duration:3s;
}

p{

	padding: 15px;
}

.footer{
	width: 100%;
	padding: 10px;
	background-color: #F6D7AE;
	box-sizing: border-box;
}

.copyright{
	padding: 0;
	font-weight: bold;
}

@media all and (min-width: 668px){
	.text-container{
		flex-direction: row;
		align-items: stretch;
	}	


	.column{
		width: calc((100% - 80px)/3);
		margin-bottom: 50px;
	}

}